{% extends '::base.html.twig' %}

{% block title %}Linktuesday - Search - {{ term }}{% endblock %}

{% block body %}
    <div class="yui-u first">
        <h2>Search result</h2>
        <div class="inner">
            {% for row in results %}
                {% include 'IngewikkeldLinkTuesdayBundle:Link:tweetdetail.html.twig' with {'tweet': row, 'type':'recent'} %}
            {% endfor %}
        </div>
    </div>
{% endblock %}




